.vscode
__pycache__
*.pyc
src/results/Type1/*.csv
src/results/Type2/*.csv
src/results/Type3/*.csv
src/results/Type4/*.csv
src/results/Type5/*.csv
src/results/Type6/*.csv
src/results/Type7/*.csv
src/results/Type8/*.csv